<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>AwesomeProject</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>AdobeCleanBlack.woff</string>
		<string>AdobeCleanBlackIt.woff</string>
		<string>AdobeCleanBold.woff</string>
		<string>AdobeCleanBoldIt.woff</string>
		<string>AdobeCleanBoldSemiCn.woff</string>
		<string>AdobeCleanBoldSemiCnIt.woff</string>
		<string>AdobeCleanExtraBold.woff</string>
		<string>AdobeCleanExtraBoldIt.woff</string>
		<string>AdobeCleanIt.woff</string>
		<string>AdobeCleanLight.woff</string>
		<string>AdobeCleanLightIt.woff</string>
		<string>AdobeCleanRegular.woff</string>
		<string>AdobeCleanSemiCn.woff</string>
		<string>AdobeCleanSemiCnIt.woff</string>
		<string>AdobeCleanSemiLight.woff</string>
		<string>AdobeCleanSerifBlack.woff</string>
		<string>AdobeCleanSerifBlackIt.woff</string>
		<string>AdobeCleanSerifBold.woff</string>
		<string>AdobeCleanSerifBoldIt.woff</string>
		<string>AdobeCleanSerifIt.woff</string>
		<string>AdobeCleanSerifMedium.woff</string>
		<string>AdobeCleanSerifMediumIt.woff</string>
		<string>AdobeCleanSerifRegular.woff</string>
		<string>AdobeCleanUXBold.woff</string>
		<string>AdobeCleanUXBoldIt.woff</string>
		<string>AdobeCleanUXIt.woff</string>
		<string>AdobeCleanUXLight.woff</string>
		<string>AdobeCleanUXLightIt.woff</string>
		<string>AdobeCleanUXMedium.woff</string>
		<string>AdobeCleanUXMediumIt.woff</string>
		<string>AdobeCleanUXRegular.woff</string>
		<string>AdobeCleanUXSemiLight.woff</string>
		<string>AdobeCleanUXSemiLightIt.woff</string>
		<string>Lato-Black.woff</string>
		<string>Lato-BlackItalic.woff</string>
		<string>Lato-Bold.woff</string>
		<string>Lato-BoldItalic.woff</string>
		<string>Lato-Hairline.woff</string>
		<string>Lato-HairlineItalic.woff</string>
		<string>Lato-Heavy.woff</string>
		<string>Lato-HeavyItalic.woff</string>
		<string>Lato-Italic.woff</string>
		<string>Lato-Light.woff</string>
		<string>Lato-LightItalic.woff</string>
		<string>Lato-Medium.woff</string>
		<string>Lato-MediumItalic.woff</string>
		<string>Lato-Regular.woff</string>
		<string>Lato-Semibold.woff</string>
		<string>Lato-SemiboldItalic.woff</string>
		<string>Lato-Thin.woff</string>
		<string>Lato-ThinItalic.woff</string>
		<string>Lato-Black.ttf</string>
		<string>Lato-BlackItalic.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-BoldItalic.ttf</string>
		<string>Lato-Hairline.ttf</string>
		<string>Lato-HairlineItalic.ttf</string>
		<string>Lato-Heavy.ttf</string>
		<string>Lato-HeavyItalic.ttf</string>
		<string>Lato-Italic.ttf</string>
		<string>Lato-Light.ttf</string>
		<string>Lato-LightItalic.ttf</string>
		<string>Lato-Medium.ttf</string>
		<string>Lato-MediumItalic.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lato-Semibold.ttf</string>
		<string>Lato-SemiboldItalic.ttf</string>
		<string>Lato-Thin.ttf</string>
		<string>Lato-ThinItalic.ttf</string>
		<string>FirstJob-X8rP.ttf</string>
	</array>
</dict>
</plist>
